body{
    background-image: url(download.jpg) ;
}
header{background-color:none;
  
 }
  ul{decoration:none;}
 li{
    display: inline-block;
    padding-left: 100px;
}

p{
  font-family: cursive;
    color:silver;
    background-color:goldenrod;
    width: 50%;
    margin:0px auto;
}
LI P{
    background-color: honeydew;
    color:black;
}
footer{background-color:none;
padding:20px;

}